@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  min-height: 100%;
}

body{
  background: #e0ebdb;
  font-family: 'Inter', sans-serif;
  height: 100%;

}

.App {
    text-align: center;
    margin-left: 135px;
    justify-content: center;
    
  }
  
strong, span, p{
  color: #222831;
}

a{
  color: #222831;
}
.card{
    float: left;
    position:relative;
    margin: 40px;
    width: 267.17px;
    height: 490.22px;
    margin-left: 80px;
    margin-top: 65px;
    overflow:hidden;
    background-color: #EDEDEE;

   }
  
  .button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #6b4718;
    background: #eee;
  }
  
.enter{
  color: #222831;
  padding: 5px 5px;
  border: 2px solid #222831;
  transition: all 0.5s;
}

.enter:hover{
  background-color: #222831;
  color: #EDEDEE;
}

  

h1{
  font-size: 4em;
  color: #222831;
}

.nav{
  background-color: #e0ebdb;
  position: relative;
  width: 100%;
  display: flex;
  backdrop-filter: blur(6px);
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding-top: 5px;
}

.site-title{
  font-size: 2rem;
  font-weight: 600;
  color: #6b4718;
}

.site-title:hover{
  animation: tilt-shaking 0.25s infinite;
}

.nav ul{
  padding-right: 15px;
  padding-top: 15px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem
}

.nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #222831;
  transition: all 0.4s;
  
}


.nav a:hover{
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

.nav #logo:hover{
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}




.Course_img{
  width: 267.17px;
  height: 150px;
}





.loginPage html{
  height: 100%;
  margin: 0;

}
.courseLink{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 80px;
}

.courseLink a{
  font-size: 1.3em;
  text-decoration: none;
  
}

.reviewLink{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.reviewLink a{
  font-size: 1.3em;
  text-decoration: none;
  
}

.courseLink a:hover{
  text-decoration: solid;
}

#box{
  text-align: center;
  width: 1900px;
  height: 750px;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;
  padding-right: 700px;
}

#btn{
  transition: 0.3s;
}

#btn:hover{
  background-color: #F2545B;
  color: #EDEDEE;
}

.table {
  margin: 0 auto;
  width: 80%;
}

.you{
  border: 2px #000000 solid;
  width: 50px;
  border-radius: 15px;
}

.bg {
  background-image: url(./data/tree.jpg);
  background-position: right;
  background-repeat: no-repeat;

}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}