@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  min-height: 100%;
}

body{
  background: #ffff;
  font-family: 'Inter', sans-serif;
  height: 100%;

}

.App {
    text-align: center;
    margin-left: 65px;
    
  }
  
strong, span, p{
  color: #3d4e6b;
}

a{
  color: #ffff;
}
.card{
    float: left;
    position:relative;
    margin: 40px;
    width: 267.17px;
    height: 490.22px;
    margin-left: 80px;
    margin-top: 65px;
    overflow:hidden;
    background-color: #EDEDEE;

   }
  
  .button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #6b4718;
    background: #eee;
  }
  
.enter{
  color: #5470a1;
  padding: 3px 5px;
  border: 2px solid #5470a1;
  transition: all 0.5s;
}

.enter:hover{
  background-color: #f4f8fa;
}

  



h1{
  font-size: 4em;
  color: #3d4e6b;
}

.nav{
  background-color: rgba(72, 93, 133, 0.7);
  position: relative;
  width: 100%;
  display: flex;
  backdrop-filter: blur(6px);
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title{
  font-size: 2rem;
  font-weight: 600;
  color: #6b4718;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.4s;
  
}


.nav a:hover{
  color: rgba(0, 0, 0, 1);
}





img{
  width: 267.17px;
  height: 150px;
}



#home{
  background-color: linear-gradient(#8db0cd,#e5ecf4 )
}

.courseLink{
  text-align: center;
  width: 100%;
  
}

.courseLink a{
  font-size: 1.3em;
  text-decoration: none;
  
}

.loginPage html{
  height: 100%;
  margin: 0;

}
.courseLink{
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.courseLink a:hover{
  color: #DE00A5;
}