@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  min-height: 100%;
}

body{
  background: linear-gradient(#8db0cd,#e5ecf4 );
  font-family: 'Inter', sans-serif;
  height: 100%;

}

.App {
    text-align: center;
    
  }
  
strong, span, p{
  color: #3d4e6b;
}

a{
  color: #ffff;
}
  .card{
    float: left;
    position:relative;
    border: 2px solid black;
    margin: 40px;
    width: 350px;
    height: 200px;
    margin-left: 80px;
    margin-top: 65px;
    overflow:hidden;
    background-color: #8db0cd;

    }
  
  .button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #6b4718;
    background: #eee;
  }
  
.enter{
  color: #5470a1;
  padding: 3px 5px;
  border: 2px solid #5470a1;
  transition: all 0.5s;
}

.enter:hover{
  background-color: #f4f8fa;
}
  .card > div{
    height:100%;
    width:100%;
  }
  
  .card .foreground{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateX(100%);
    background-color: #e5ecf4;
    transition:.5s ease;
  }
  
  .card:hover .foreground{
    transform:translateX(0);
  }

h1{
  font-size: 4em;
  color: #3d4e6b;
}

.nav{
  background-color: rgba(72, 93, 133, 0.7);
  position: relative;
  width: 100%;
  display: flex;
  backdrop-filter: blur(6px);
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title{
  font-size: 2rem;
  font-weight: 600;
  color: #6b4718;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.4s;
  
}


.nav a:hover{
  color: rgba(0, 0, 0, 1);
}

.detail_container
{
  position: fixed;
  z-index: 100;
  align-items: center;
  width: 900px;
  background-color: #e8e8e8;
  margin-left: 30%;
  margin-top: 10%;

  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35);

}

.detail_container .detail_content{
  max-width: 100%;
}

.detail_container .detail_content .close{
  border: none;
  outline: none;
  background-color: none;
  cursor: pointer;
}

.detail_container .detail_content .detail_info{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.detail_container .detail_content .detail_info .img-box img{
  width: 250px;
  height: 250px;

}

.detail_container .detail_content .detail_info .course_detail {
  margin-left: 30px;
} 

.detail_container .detail_content .detail_info .course_detail h2{
  color: #0cc0df;
  text-transform: uppercase;
  font-weight: 200;
} 

.detail_container .detail_content .detail_info .course_detail h3{
  margin-top: 10px;
  color: #fe4a55;

} 

.detail_container .detail_content .detail_info .course_detail p{
  margin-top: 10px;
  margin-right: 30px;
  color: #777171;
  
}

#home{
  background-color: linear-gradient(#8db0cd,#e5ecf4 )
}

.courseLink{
  text-align: center;
  width: 100%;
  
}

.courseLink a{
  color: #0cc0df;
  font-size: 2em;
  
}

.loginPage html{
  height: 100%;
  margin: 0;

}